.has-fade {
  visibility: hidden;
}

#bgoverlay {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 100%;
  }
}

@keyframes fade-in-background {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 30%;
  }
}

@keyframes fade-out-background {
  from {
    visibility: visible;
    opacity: 30%;
  }
  1% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 100%;
  }

  1% {
    visibility: hidden;
    opacity: 0%;
  }

  to {
    visibility: hidden;
    opacity: 0%;
  }
}

.fade-in {
  animation: fade-in 200ms ease-out forwards;
  z-index: 999;
}
.fade-out {
  animation: fade-out 150ms ease-in forwards;
}

.fade-in-background {
  animation: fade-in-background 150ms ease-out forwards;
  z-index: 998;
}
.fade-out-background {
  animation: fade-out-background 150ms ease-in forwards;
}
