@import "_variables";

.header > nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 2rem;
  border-bottom-style: solid;
  border-width: 2px;
  margin: 0 0.5rem 0 0.5rem;

  .logo img {
    width: 100%;
  }

  .banner_menu {
    position: relative;
    padding: 2px;

    border-color: black;
    flex-wrap: nowrap;
    flex-direction: row;

    > div {
      position: relative;
      align-self: end;
      padding: 1rem;

      a {
        color: black;
        font-family: "Gentium Basic", sans-serif;
        font-size: 1.08rem;
        transition: color 150ms ease-in-out;
        padding-top: 1rem;
        padding-bottom: 1rem;

        &:not(:last-child) {
          margin-right: 3rem;
        }

        &:hover {
          color: $softOrange;
        }

        &:hover + div {
          visibility: visible;
        }

        display: block;
      }
    }
  }

  .sub-menu {
    position: absolute;
    visibility: hidden;
    flex-direction: column;
    top: 0;
    background-color: rgb(253, 250, 248);
    color: black;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0px rgb(179, 178, 178);

    &:hover {
      visibility: visible;
    }
  }
}

// For small screens
@media screen and (max-width: 950px) {
  .header > * {
    justify-content: space-between;
    flex-direction: row;

    .large {
      display: none;
    }

    .small {
      display: block;
    }

    a {
      width: 60%;
    }

    .hamburger > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: black;
      margin: 1px;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
}

// For large screens
@media screen and (min-width: 950px) {
  .small {
    display: none;
  }
}
