@import "_variables";

.testimonies {
  img {
    opacity: 50%;
  }
  ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    left: 0;
  }
  h2 {
    font-size: 50px;
    font-weight: 300;
    margin: 1rem;
    z-index: 1;
  }
  h4 {
    text-align: center;
    font-size: 25px;
  }
  li {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    width: 30rem;
    padding: 1rem 1rem 2rem 01rem;
    background-color: rgba(153, 152, 150, 0.5);
    margin: 1rem;
  }
  p {
    padding: 0 0 2rem 0;
    font-size: 21px;
  }
  a {
    align-self: center;
    text-align: center;
    width: 15rem;
    background-color: lightgray;
    border-radius: 25px;
    border-style: solid;
    border-width: 0.28rem;
    border-color: rgb(162, 11, 11);
    padding: 1.2rem;
    margin: 20px;

    color: white;
    font-size: 1.4rem;
  }

  a:hover {
    background-color: $marron;
    border-color: darkgray;
    transition: 200ms ease-out;
  }
}

.buttons {
  display: none;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 1024px) {
    .testimonies {
      display: grid;
      grid-template-columns: 1em repeat(2, 1fr) 1em;
      grid-template-rows: 6rem 1fr 5em;

      img {
        grid-column: 1/5;
        grid-row: 1/4;
        width: 100%;
      }
      h2 {
        grid-column: 2/4;
        grid-row: 1;
      }

      ul {
        grid-column: 1/5;
        grid-row: 2;
      }

      .buttons {
        display: flex;
        grid-column: 2/4;
        grid-row: 3;
        justify-content: space-evenly;
        padding-bottom: 2em;
        z-index: 2;

        button {
          width: 3em;
          font-size: 20px;
          font-weight: 700;
          color: white;
          background: none;
          border: $marron;
          border-style: solid;
          border-width: 0.22rem;
          border-radius: 20px;
          padding: 0;
        }
      }

      button:hover {
        background-color: $marron;
        border-color: darkgray;
        transition: 100ms ease-out;
        cursor: pointer;
      }
    }
  }
}
