html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* latin-ext */
@font-face {
  font-family: "Gentium Basic";
  font-style: normal;
  font-weight: 400;
  color: aliceblue;
  font-display: fallback;
  src: url(https://fonts.gstatic.com/s/gentiumbasic/v18/Wnz9HAw9aB_JD2VGQVR80We3LAOJiAI_.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
.body {
  font-family: "Gentium Basic";
  margin: 0;
  text-align: center;
}

.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

blockquote {
  text-align: center;
  font-size: 2rem;
}

cite {
  color: rgb(162, 11, 11);
  align-self: center;
  justify-content: center;
}

h2 {
  color: blue;
  text-align: center;
}

li {
  list-style-type: none;
}

footer nav {
  color: blue;
  max-width: 20rem;
  line-height: 1.3px;
}
footer nav ul {
  width: 100%;
  flex-direction: column;
}
footer nav li {
  padding: 1rem;
}
footer section {
  padding: 1rem;
}

/* ------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------*/
.site {
  max-width: 1200px;
  margin: 0 auto;
}

.footer > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.footer > * img {
  padding: 1rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: blue;
  padding: 0;
}
ul p {
  text-align: center;
}
ul img {
  padding: 1rem;
}

.main-area {
  background-color: rgb(241, 241, 241);
  justify-content: center;
}

.mobile-hide {
  display: none;
}

/*------------------------------------------------
CSS Grid layout for modern browsers:
-------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 1024px) {
    .site {
      max-width: none;
    }
    .hero {
      display: grid;
      grid-template-columns: 1em repeat(2, 1fr) 1em;
    }
    .mobile-hide {
      display: block;
    }
  }
}
.large {
  display: none;
}

.small {
  display: block;
}

.header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .hamburger {
  width: 3rem;
  align-self: center;
  margin: 2rem;
}
.header .hamburger span {
  display: block;
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 1px;
}
.header .hamburger span:not(:last-child) {
  margin-bottom: 3px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: darkblue;
}

.mobile-menu {
  position: absolute;
  background: white;
  font-size: 1.5rem;
  width: calc(100% - 3rem);
  transform: translateX(-30%);
  height: 100%;
  left: 70%;
  top: 100px;
  margin: 0px 1.5rem;
  padding: 0.825rem;
}
.mobile-menu a {
  position: relative;
  display: block;
  text-align: left;
  padding: 1em;
}
.mobile-menu a:hover + div {
  visibility: visible;
}

.open .mobile-menu {
  display: block;
}
.open #bgoverlay {
  visibility: visible;
  opacity: 30%;
}

.sub-menu {
  position: absolute;
  visibility: hidden;
  top: 0px;
  transform: translateX(-85%);
  background-color: rgb(253, 250, 248);
  color: black;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0px rgb(179, 178, 178);
}
.sub-menu:hover {
  visibility: visible;
}
.sub-menu > * {
  padding-left: 1rem;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 1024px) {
    .small {
      display: none;
    }
    .large {
      display: flex;
    }
    .header > nav {
      font-size: 2rem;
      border-bottom-style: solid;
      border-width: 2px;
      margin: 0 0.5rem 0 0.5rem;
    }
    .header > nav .logo img {
      width: 100%;
    }
    .header > nav .banner_menu {
      position: relative;
      padding: 2px;
      border-color: black;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    .header > nav .banner_menu > div {
      position: relative;
      align-self: end;
      padding: 1rem;
    }
    .header > nav .banner_menu > div a {
      color: black;
      font-family: "Gentium Basic", sans-serif;
      font-size: 1.08rem;
      transition: color 150ms ease-in-out;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-right: 1.75rem;
      display: block;
    }
    .header > nav .banner_menu > div a:hover {
      color: orange;
    }
    .header > nav .banner_menu > div a:hover + div {
      visibility: visible;
    }
    .header > nav .banner-sub {
      position: absolute;
      visibility: hidden;
      flex-direction: column;
      top: 0;
      background-color: rgb(253, 250, 248);
      color: black;
      z-index: 1000;
      border-radius: 4px;
      box-shadow: 1px 1px 5px 0px rgb(179, 178, 178);
    }
    .header > nav .banner-sub a {
      color: red;
    }
    .header > nav .banner-sub:hover {
      visibility: visible;
    }
    .header > nav .banner-sub > * {
      padding-left: 1rem;
    }
  }
}
.has-fade {
  visibility: hidden;
}

#bgoverlay {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 100%;
  }
}
@keyframes fade-in-background {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 30%;
  }
}
@keyframes fade-out-background {
  from {
    visibility: visible;
    opacity: 30%;
  }
  1% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 100%;
  }
  1% {
    visibility: hidden;
    opacity: 0%;
  }
  to {
    visibility: hidden;
    opacity: 0%;
  }
}
.fade-in {
  animation: fade-in 200ms ease-out forwards;
  z-index: 999;
}

.fade-out {
  animation: fade-out 150ms ease-in forwards;
}

.fade-in-background {
  animation: fade-in-background 150ms ease-out forwards;
  z-index: 998;
}

.fade-out-background {
  animation: fade-out-background 150ms ease-in forwards;
}

.hero {
  padding-top: 1rem;
}
.hero h1 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  z-index: 10;
  padding: 1rem 0 6rem 0;
  margin: 0;
}
.hero img {
  width: 100%;
  height: 100%;
  margin: 0;
  transition: src 200ms;
}
.hero ul {
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  z-index: 10;
}
.hero ul li {
  text-align: center;
  width: 15rem;
  background-color: rgba(153, 152, 150, 0.5);
  border-radius: 25px;
  border-style: solid;
  border-width: 0.18rem;
  border-color: rgb(162, 11, 11);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin: 30px;
}
.hero ul li a {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: 1px 1px 6px black;
}
.hero ul :hover {
  transform: scale(1.15);
  background-color: rgb(162, 11, 11);
  border-color: lightgray;
  transition: transform 200ms ease-out;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 1024px) {
    .hero {
      grid-template-rows: 25em 25em;
      max-height: 55rem;
    }
    .hero > * {
      grid-column: span 4;
    }
    .hero div {
      position: relative;
      width: 100%;
      grid-column: 1/5;
      grid-row: 1/3;
      justify-content: center;
      overflow: hidden;
    }
    .hero img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .hero h1 {
      font-size: 4vw;
      display: flex;
      justify-content: center;
      align-self: flex-end;
      grid-row: 1/2;
      grid-column: 2/4;
      color: whitesmoke;
    }
    .hero ul {
      grid-row: 2/3;
      grid-column: 2/4;
      display: flex;
      align-self: flex-start;
    }
    @keyframes top {
      0% {
        opacity: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      5% {
        opacity: 1;
        width: 101%;
        height: 101%;
        left: -1%;
        top: -1%;
      }
      30% {
        opacity: 1;
        width: 105%;
        height: 105%;
        left: -5%;
        top: -5%;
      }
      33% {
        opacity: 0;
        width: 106%;
        height: 106%;
        left: -6%;
        top: -6%;
      }
      100% {
        opacity: 0;
        width: 100%;
        height: 100%;
      }
    }
    @keyframes middle {
      0% {
        opacity: 1;
        width: 100%;
        height: 100%;
      }
      30% {
        opacity: 1;
        width: 100%;
        height: 100%;
      }
      60% {
        opacity: 1;
        width: 120%;
        height: 120%;
      }
      66% {
        opacity: 0;
        width: 122%;
        height: 122%;
      }
      100% {
        opacity: 0;
        width: 120%;
        height: 120%;
      }
    }
    @keyframes bottom {
      0% {
        width: 100%;
        height: 100%;
      }
      1% {
        width: 100%;
        height: 100%;
      }
      100% {
        width: 120%;
        height: 120%;
      }
    }
    .top {
      z-index: 2;
      animation-name: top;
      animation-timing-function: cubic-bezier(0.46, 0.46, 1, 1);
      animation-iteration-count: infinite;
      animation-duration: 30s;
      animation-direction: normal;
    }
    .middle {
      z-index: 1;
      animation-name: middle;
      animation-timing-function: cubic-bezier(0.46, 0.46, 1, 1);
      animation-iteration-count: infinite;
      animation-duration: 30s;
      animation-direction: normal;
    }
    .bottom {
      animation-name: bottom;
      animation-timing-function: cubic-bezier(0.46, 0.46, 1, 1);
      animation-iteration-count: infinite;
      animation-duration: 30s;
      animation-direction: normal;
      right: 0;
    }
  }
}
@supports (grid-area: auto) {
  @media screen and (max-width: 1024px) {
    .large {
      visibility: hidden;
    }
  }
}
.devotions {
  flex-wrap: wrap;
  color: blue;
  align-items: center;
  padding: 3rem 0 3rem 0;
  margin: 2rem 0 2rem 0;
}
.devotions img {
  padding: 1rem;
  width: 100%;
}
.devotions p {
  text-align: center;
}

@media screen and (min-width: 1400px) {
  .devotions ul {
    justify-content: space-around;
  }
  .devotions .card {
    max-width: 13.5em;
    margin: 0 12px 0 12px;
  }
}
.testimonies {
  background-color: rgba(139, 85, 85, 0.45);
}
.testimonies .hide {
  display: none;
}
.testimonies img {
  opacity: 50%;
  width: 100%;
  margin: 2em 0 0 0;
}
.testimonies ul {
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1;
}
.testimonies h2 {
  color: whitesmoke;
  font-size: 50px;
  font-weight: 300;
  margin: 1rem;
  z-index: 1;
}
.testimonies h4 {
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
}
.testimonies li {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 20rem;
  height: 30rem;
  padding: 1rem 1rem 2rem 1rem;
  background-color: rgba(165, 82, 54, 0.5);
  margin: 1rem;
  justify-content: space-between;
}
.testimonies p {
  color: whitesmoke;
  padding: 0 0 2rem 0;
  font-size: 21px;
}
.testimonies button {
  align-self: center;
  text-align: center;
  width: 15rem;
  border-radius: 25px;
  border-style: solid;
  border-width: 0.18rem;
  border-color: rgb(162, 11, 11);
  padding: 1.2rem;
  margin: 20px;
  color: rgb(141, 141, 141);
  font-size: 1.4rem;
  cursor: pointer;
  text-shadow: 1px 1px 13px rgb(181, 181, 181);
}
.testimonies .button_hover button:hover {
  color: whitesmoke;
  background-color: rgb(162, 11, 11);
  border-color: rgb(125, 125, 125);
  transition: background-color 600ms ease-out, border-color 600ms ease-out, color 600ms ease-out;
  cursor: pointer;
}
.testimonies .open {
  display: block;
}
.testimonies .full {
  height: 30rem;
  width: 27rem;
  padding-top: 1rem;
  margin-top: 1rem;
  background-color: rgb(165, 82, 54);
  transition: width 500ms cubic-bezier(0.47, 0, 0.75, 0.72);
}

.full_testimony {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  justify-content: center;
  flex-direction: column;
  border-style: none;
  background-color: rgba(212, 126, 104, 0.85);
  padding: 4rem;
}
.full_testimony button {
  margin-left: auto;
  margin-bottom: 0;
  background: none;
  width: 2rem;
  border-style: none;
  padding: 1rem;
  color: rgba(82, 82, 144, 0.6941176471);
  font-size: 2.4rem;
  font-family: monospace;
}
.full_testimony h4 {
  margin-top: 0;
  font-size: 34px;
}
.full_testimony p {
  font-size: 25px;
}

.t_overlay {
  position: fixed;
  width: 100vw;
  height: 500vw;
  z-index: 10;
  top: 0;
  background: rgba(87, 87, 117, 0.7490196078);
}

.no_display {
  display: none;
}

.flex_display {
  display: flex;
}

#carousel-dots {
  display: none;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 1024px) {
    .testimonies {
      display: grid;
      position: relative;
      grid-template-columns: 100%;
      grid-template-rows: 6em 35rem 5em;
      overflow: hidden;
      background-color: rgb(241, 241, 241);
    }
    .testimonies .hide {
      display: flex;
    }
    .testimonies img {
      grid-column: 1;
      grid-row: 1/5;
      margin: 0 0 0 0;
      height: 100%;
    }
    .testimonies h2 {
      grid-column: 1;
      grid-row: 1;
    }
    .testimonies ul {
      flex-direction: row;
      width: 400em;
      grid-column: 1;
      grid-row: 2/3;
      transition: left 1.5s;
    }
    .testimonies li {
      width: 20em;
      background-color: rgba(153, 152, 150, 0.5);
    }
    .testimonies .buttons {
      display: flex;
      grid-column: 1;
      grid-row: 3;
      justify-content: space-evenly;
      padding-bottom: 2em;
      z-index: 2;
    }
    .testimonies .buttons button {
      width: 3em;
      font-family: monospace;
      font-size: 20px;
      font-weight: 700;
      color: white;
      background: none;
      border: rgb(162, 11, 11);
      border-style: solid;
      border-width: 0.18rem;
      border-radius: 20px;
      padding: 0;
    }
    .full_testimony {
      position: fixed;
      z-index: 10;
      top: 50%;
      left: 46%;
      transform: translate(-50%, -50%);
      width: 60vw;
      height: 40vw;
      justify-content: space-evenly;
      flex-direction: column;
      border-style: none;
      padding: 0rem 1rem 1rem 1rem;
      border-radius: 9px;
    }
    .full_testimony button {
      position: sticky;
      align-self: flex-start;
      top: 0;
      text-align: center;
      margin: 0 1rem 0 0;
      margin-left: auto;
      background: none;
      width: 2rem;
      border-style: none;
      padding: 1rem;
      color: rgba(82, 82, 144, 0.6941176471);
      font-size: 2.4rem;
      font-family: monospace;
    }
    .full_testimony button:hover {
      cursor: pointer;
      font-weight: 600;
    }
    .full_testimony h4 {
      font-size: 2.7vw;
      margin-bottom: 1rem;
    }
    .full_testimony p {
      text-align: center;
      font-size: 1.7vw;
    }
    #carousel-dots {
      display: flex;
      position: absolute;
      width: 25%;
      justify-content: center;
    }
    #carousel-dots ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      margin: 10px 20px 10px 20px;
    }
    #carousel-dots ul li {
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      border: none;
    }
    .p_8 .testimonyList {
      left: -346em;
    }
    .p_8 #carousel-dots li:last-child {
      background-color: rgb(162, 11, 11);
    }
    .p_7 .testimonyList {
      left: -320em;
    }
    .p_7 #carousel-dots li:nth-child(7) {
      background-color: rgb(162, 11, 11);
    }
    .p_6 .testimonyList {
      left: -267em;
    }
    .p_6 #carousel-dots li:nth-child(6) {
      background-color: rgb(162, 11, 11);
    }
    .p_5 .testimonyList {
      left: -214em;
    }
    .p_5 #carousel-dots li:nth-child(5) {
      background-color: rgb(162, 11, 11);
    }
    .p_4 .testimonyList {
      left: -160em;
    }
    .p_4 #carousel-dots li:nth-child(4) {
      background-color: rgb(162, 11, 11);
    }
    .p_3 .testimonyList {
      left: -106em;
    }
    .p_3 #carousel-dots li:nth-child(3) {
      background-color: rgb(162, 11, 11);
    }
    .p_2 .testimonyList {
      left: -54em;
    }
    .p_2 #carousel-dots li:nth-child(2) {
      background-color: rgb(162, 11, 11);
    }
    .p_1 .testimonyList {
      left: 12em;
    }
    .p_1 #carousel-dots li:first-child {
      background-color: rgb(162, 11, 11);
    }
  }
}
@media screen and (min-width: 1300px) {
  .testimonies li {
    width: 23em;
  }
}
.quote {
  padding: 3rem 0 3rem 0;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 1024px) {
    .quote {
      display: grid;
      grid-template-columns: 1em repeat(2, 1fr) 1em;
      margin: 8em 0 8em 0;
    }
    .quote > * {
      grid-column: 2/4;
      margin: 1em 1em 0 1em;
    }
  }
}/*# sourceMappingURL=styles.css.map */